
@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ececec;
}
::-webkit-scrollbar-thumb:active {
    background: #6c6c6c;
}


body {
    background-color: #252525;
    color: #f0f0f0;
    width: 90vw;
    overflow: auto;
    height: 100vh;
    margin-left: 5vw;
    padding-right: 5vw;
    font-family: Arial, Helvetica, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.content-space {
    width: 100%;
    height: 25px;
    background: transparent;
}



a {
    color: #489be9;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p {
    color: #fff;
}

ol, ul, dl {
    color: #fff;
}

pre {
    background-color: #66636e7b;
    padding: 15px;
    width: fit-content;
    border-radius: 5px;
    overflow: auto;
    white-space: nowrap;
    width: 80vw;
}

code {
    color: #cfcfcf;
}

p > code {
    background: #66636e7b; 
    box-sizing: border-box;
    padding: .2em .4em;
    font-size: 90%;
    border-radius: 3px;
}

p > img {
    max-width: 80vw;
}

table {
    border: 1px solid #fff;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px;
}